# Build folders
build/
bin/
obj/
out/
assets/*
!assets/shaders/
assets/shaders/*
!assets/shaders/*.hlsl

# Compiled files
*.o
*.obj
*.exe
*.dll
*.so

# CMake
CMakeFiles/
CMakeCache.txt

# Visual Studio
.vs/
*.vcxproj.user

# Logs
*.log
